<div class="container">
    <h1><%= @dojo.branch %></h1><hr>
    <h4>Address: <%= @dojo.street %></h4>
    <h4>City: <%= @dojo.city %>, State: <%= @dojo.state %></h4>
    <p><a href="/dojos">Home</a> | <a href="/dojos/<%= @dojo.id %>/edit">Edit</a></p>
</div>